* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.topbar {
    background-color: rgb(255, 105, 0);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 4;
}

.menu {
    display: flex;
    width: 70%;
    margin: auto;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list ul {
    list-style: none;
}

.list ul li {
    display: inline-block;
    padding-right: 20px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}

.logo_b {
    width: 100px;
}

.icone_top i {
    padding-left: 10px;
}

.products {
    width: 70%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;

}

.cards {
    width: calc(100% / 3);
    padding: 20px;
    position: relative;
}

.photo {
    width: 100%;
}


.second {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    display: none;
    padding: 20px;
}

.double:hover .second {
    display: inline;
}

.rosso {
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    bottom: 120px;
}

.verde {
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 14px;
    font-weight: 600;
    display:  inline-block;
    position: absolute;
    bottom: 120px;
    left: 75px;
}

.alone {
    left: 20px;
}

span {
    display: inline-block;
    font-size: 12px;
}

h4 {
    font-weight: 700;
}

.prezzo {
    color: red;
    padding-right: 5px;
}

.erased {
    text-decoration: line-through;
}

footer {
    background-color: rgb(26, 26, 26) ;
}

.container_bottom {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

h5 {
    font-weight: 600;
    font-size: 16px;
}

.business_card .list {
    font-size: 12px;
    padding-top: 15px;
}

h6 {
    padding-left: 10px;
    font-size: 14px;
}

.down {
    padding-top: 15px;
}


